<main id='root'></main>

<% if current_user %>
  <script type="text/javascript">
    window.currentUser = <%=
      render(
        'api/users/user.json.jbuilder',
        user: current_user
      ).html_safe
    %>;
  </script>
<% end %>

<% if current_user %>
  <script type="text/javascript">
    window.imageBootStrap =
    "<%= asset_path(current_user.image_url) %>"
  </script>
<% end %>
