<main id='root'></main>

<% if current_user %>
  <script type="text/javascript">
    window.currentUser = <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>;
  </script>
<% end %>

<script type="text/javascript">
  window.mainImage = "<%= asset_path 'logo.png' %>"
</script>
