.left-side-bar {
  position: relative;
  top: 100px;
  left: 25px;
  display: block;
  font-size: 13px;
  max-width: 180px;
  box-sizing: border-box;
  margin-right: 25px;

  li {
    font-size: 14px;
    box-sizing: content-box;
    display: block;
    color: #999;
    border-left: 6px solid white;
    padding: 3px 8px 2px;
    height: 19px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      color: #666;
      background-color: #EEEEEE;
    }
  }
}
