.footer {
    // padding-bottom: 60px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  width: 88%;
  padding: 20px 6%;
  min-height: 74px;
  z-index: 1;
  background: #666;
  color: #fff;
  font-size: 14px;
  text-shadow: 0 -1px 0 #000000;
  // margin-top: 16.5%;
  vertical-align: baseline;

  main {
    h1 {
      font-size: 24px;
      margin-top: 0;
      line-height: 30px;
    }

    h2 {
      font-size: 16px;
      margin: 15px 0 5px;
    }
  }

  ul{
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    li {
      font-size: 14px;
    }
  }
}
