.session-errors {
  float: left;
  min-width: 320px;
  background-color: #c45;
  text-shadow: 0 -1px #9a2a38;
  padding: 5px 10px 15px 15px;
  border-color: #b34;
  color: white;
  font-size: 18px;
  line-height: 36px;
  list-style: disc;
  margin: 15px 10px 0 0;
  
  li {
    display: list-item;
    line-height: 22px;
    margin-left: 40px;
  }
}
