/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  font-family: 'Lato', sans-serif;
}

input {
  line-height: 18px;
  text-align: left;
  background-color: white;
  border: 1px solid #cccccc;
  margin-bottom: 8px;
  color: black;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075);
}

::placeholder {
    color: #aaaaaa;
    opacity: 1;
}

input:focus::placeholder {
    color: #d1d1d1;
}

input:focus {
  box-shadow: 0 0 5px blue;
  transition: border linear 0.2s;
  border: 1px solid rgba(81, 203, 238, 1);
}
