.bill-show {
  display: flex;
  p {
    color: #999999;
    & + img {
      width: 21px;
      height: 35px;
      border-radius: 0;
    }
  }
  overflow: hidden;
}

.bill-show-container {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: space-between;
  min-height: 58px;
}
