.center-bar {
  position: relative;
  float: left;
  top: 45px;
  left: 25px;
  display: block;
  font-size: 13px;
  max-width: 180px;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 200px;
}
