.center-bar {
  position: relative;
  overflow: visible;
  display: block;
  font-size: 13px;
  width: 558px;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 20px;
  height: 100%;
  top: 70px;
  box-shadow: 0 7px 16px 4px rgba(0, 0, 0, 0.2);
}
