.drop-down-menu-button {
  vertical-align: middle;
  padding-left: 5px;

  i {
    margin-top: 8px;
    margin-left: 2px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    opacity: 0.3;
  }
}
