.login-form {
  font-size: 14px;
  display: block;
  z-index: 99;
  position: absolute;
  right: 0px;
  top: 49px;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  text-align: center;
  box-sizing: border-box;

  input {
    width: 300px;
  }
  
  button {
    margin: 8px 4px 10px 0;
    padding: 4px, 10px;
    background-color: #5ec5a7;
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  button:hover {
    background-color: #43bb9a;
  }
}
