.signup-form {
  max-width: 360px;
  padding-left: 15px;
  font-size: 24px;

  h2 {
    color: #999999;
    font-size: 16px;
  }

  button {
    padding: 11px 15px;
    display: inline-block;
    width: auto;
    font-size: 24px;
    margin-top: 9px;
    background-color: #ff652f;
    text-shadow: 0 -1px 0 #c83400;
    color: white;
    border-radius: 5px;
  }

  button:hover {
    background-color: #de4d24;
  }
}
