.top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 48px;
  font-size: 20px;
  background-color: #5ec5a7;
  color: white;

  a {
    vertical-align: middle;
    padding: 11px 10px;
  }

  button {
    text-shadow: 0 -1px 0 #318970;
  }
}

.top-bar-right {
  display: flex;
  font-size: 14px;
  margin: auto 0;

  div, a, p {
    margin-right: 4px;
  }

  p {
    margin-top: 5px;
  }
}

.top-bar-right-default {
  button, a {
    &:hover {
      background-color: #52a58e;
    }

    padding: 4px 10px;
    border-radius: 5px;
  }

  a {
    height: 16px;
    font-size: 14px;
    padding-bottom: 6px;
    background-color: #ff652f;
    text-shadow: 0 -1px 0 #c83400;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075);
    &:hover {
      background-color: #de4d24;
    }
  }
}

.top-bar-right-logged-in {

  padding: 12px;
  cursor: pointer;

  &:hover {
    background-color: #52a58e;

    b {
      color: white;
    }
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

}

.login-button {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 5px;
  font-size: 14px;
  border: 1px solid;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  padding: 10px, 4px;
}
