.top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 48px;
  font-size: 20px;
  background-color: #5ec5a7;
  color: white;
  h1 {
    vertical-align: middle;
    padding: 17px 10px;
  }
  button {
    text-shadow: 0 -1px 0 #318970;
  }
}

::placeholder {
    color: #aaaaaa;
    opacity: 1;
}

input:focus::placeholder {
    color: #d1d1d1;
}

.top-bar-right {
  display: flex;
  font-size: 16px;
  margin: 10px 10px;
  padding: 5px;
  div, a, p {
    margin-right: 4px;
  }
}

.login-button {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 5px;
  font-size: 14px;
  border: 1px solid;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  padding: 10px, 4px;
}

.login-form {
  font-size: 14px;
  display: block;
  z-index: 99;
  position: absolute;
  right: 0px;
  top: 49px;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  text-align: center;
  box-sizing: border-box;
  input {
    width: 300px;
    line-height: 18px;
    text-align: left;
    background-color: white;
    border: 1px solid #cccccc;
    margin-bottom: 8px;
    color: black;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075);

  }
  button {
    margin: 8px 4px 10px 0;
    padding: 4px, 10px;
    background-color: #5ec5a7;
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  button:hover {
    background-color: #318970;
  }
}
