.top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 48px;
  font-size: 20px;
  background-color: #5ec5a7;
  color: white;
  h1 {
    vertical-align: middle;
    padding: 17px 10px;
  }
  button {
    text-shadow: 0 -1px 0 #318970;
  }
}

.top-bar-right {
  display: flex;
  font-size: 16px;
  margin: 10px 10px;
  padding: 5px;
  div, a, p {
    margin-right: 4px;
  }
}

.login-button {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 5px;
  font-size: 14px;
  border: 1px solid;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  padding: 10px, 4px;
}
